.navbar{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
    height: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: darkcyan;
    font-size: 18px;
    cursor: default;
    
}
.navbar-right{
  display: flex;  
  align-items: center;
  gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 15px;
    color: darkcyan;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: darkcyan;
    color: white;

}
.active{
    padding-bottom: 2px;
    border-bottom: 2px solid darkcyan;
}

.navbar-search-icon{
    position: relative;
}

.dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: red;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}